.container {
    visibility: hidden;
    width: 100%;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
    position: absolute;
    top: 80px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(189, 189, 189, 0.166);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.body {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    background-color: white;
    margin-bottom: 20px;
}


.boxContent {
    width: 100%;
    transition: transform 0.42s ease-in-out;
}

.boxContent.in {
    transform: translateY(0);
}

.boxContent.out {
    transform: translateY(-100%);
}

.body .boxContent>nav {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.body .boxContent>nav>a {
    background-color: white;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
    color: black;
    font-size: 14px;
    width: 100%;
    padding: 12px;
    box-shadow: 0 0 8px rgba(128, 127, 127, 0.33);
    transition: background-color 0.1s ease-in-out, color 0.08s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.body .boxContent>nav>a .iconAccess {
    font-size: 14px;
}

.body .boxContent>nav>a:hover {
    background-color: rgba(0, 0, 0, 0.799);
    color: white;
}

.viewTitleAccess {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

@media (max-width: 1050px) {
    .container {
        visibility: visible;
    }
}