.container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  user-select: none;
  border-bottom: 1px solid rgba(94, 94, 94, 0.133);
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: white;
}

.boxContent {
  display: grid;
  grid-template-columns: auto auto auto;
  z-index: 2;
  width: 89%;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  background-color: white;
}

.boxHeader {
  display: flex;
  align-items: center;
}

.boxHeader>a {
  margin-right: 25px;
  color: black;
  text-decoration: none;
  font-size: 17px;
}

.boxHeader>a:hover {
  opacity: 0.6;
}

.boxTitle {
  display: flex;
  align-items: center;
}

.boxOption {
  display: flex;
  align-items: center;
  justify-content: right;

}

.boxIcon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.boxIcon>div {
  width: 40px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.boxIcon>div:hover {
  background-color: #e3e3e3;
  border-radius: 5px;
}

.icon {
  color: black;
  font-size: 22px;
  margin-right: 15px;
  font-weight: bold;
  cursor: pointer;
}

.boxCollapse {
  margin-left: auto;
  margin-right: 20px;
  display: none;
  cursor: pointer;
}

.boxCollapse .iconMenu {
  border-radius: 50%;
  padding: 7px;
  box-sizing: unset;
}

.boxCollapse .iconMenu:hover {
  background-color: rgba(191, 191, 191, 0.164);
}

@media (max-width: 1200px) {
  .boxContent {
    width: 98%;
  }
}

@media (max-width: 1050px) {
  .boxContent {
    grid-template-columns: 1fr 1fr;
  }

  .boxTitle {
    margin-left: 20px;
  }

  .boxCollapse {
    display: block;
  }
  .boxHeader,
  .boxOption {
    display: none;
  }
}