.container {
    display: block;
    width: 100%;
}

.box {
    width: 100%;
    display: flex;
    margin-bottom: 100px;
    margin-top: 70px;
    flex-direction: column;
    align-items: center;
}

.box .title {
    width: 75%;
    display: flex;
    align-items: center;
}

.box .title .icon {
    font-size: 15px;
}

.viewAvatarProduct {
    background-color: #f9f9f9;
    height: 420px;
}

.viewAvatarProduct>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
    pointer-events: none;
}
.box .layoutContent {
    width: 75%;
    display: grid;
    grid-template-columns: 40% 57%;
    column-gap: 3%;
}

.box .layoutContent .productDetail .discription {
    font-size: 13px;
    
}

.box .layoutContent .productDetail {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    position: relative;
    height: 420px;
}

.box .layoutContent .productDetail>p {
    font-size: 15px;
}

.box .layoutContent .productDetail .viewRating {
    display: flex;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.box .layoutContent .productDetail .viewRating .viewStarRating .icon {
    color: rgb(248, 161, 21);
    padding-bottom: 3px;
}

.box .layoutContent .productDetail .viewRating .viewStarRating {
    display: flex;
    column-gap: 2px;
    align-items: center;

}

.box .layoutContent .productDetail .viewRating .reviewCount {
    font-size: 13px;
    color: rgb(118, 123, 123);
    opacity: 0.7;
}
.viewVariations {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    position: relative;
    overflow: hidden;
}
.viewStockVar {
    position: absolute;
    top: 33px;
    right: 10px;
    font-size: 14px;
}
.viewVariations .txtErr {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 14px;
    color: red;
    animation: translateToTop 0.4s forwards;
}
@keyframes translateToTop {
    from {
        transform: translateY(100%);
    } to {
        transform: translateY(0);
    }
}
.viewBuy {
    margin-top: 20px;
    display: flex;
    column-gap: 20px;
    margin-top: auto;
    align-items: end;
}

.viewBuy>button {
    border-radius: 7px;
    background-color: black;
    border: none;
    color: white;
    width: 240px;
    user-select: none;
    padding: 9px;
    font-size: 16px;
}

.viewBuy .viewIcon {
    border: 1px solid black;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 35px;
}

.viewIcon .icon {
    font-size: 20px;
}

.imgProduct {
    user-select: none;
    width: 100%;
}


.outStock>div:nth-child(1) {
    background-color: rgb(254, 217, 213);
    color: rgb(235, 107, 92);
}

.inStock>div:nth-child(1) {
    background-color: rgb(213, 254, 223);
    color: rgb(65, 203, 99);
}

.viewStatus>div {
    padding: 6px;
    font-size: 12px;
    border-radius: 5px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.productDetail>div:nth-child(1) {
    display: flex;
    justify-content: space-between;
}

.viewListImg {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    margin-top: 10px;
}
.itemImg {
    background-color: #f9f9f9;
}
.itemImg>img {
    width: 100%;
    cursor: pointer;
    height: 100%;
    object-fit: cover;
    user-select: none;
    pointer-events: none;
}
.itemImg:hover {
    background-color: #dad9d99f;
}
.details {
    margin-top: 50px;
    width: 75%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.details>div {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.details>div>p:nth-child(1) {
    font-size: 15px;
    font-weight: 550;
}
.details>div>p:nth-child(2) {
    font-size: 13px;
}

@media (max-width: 1100px) {
    .box .layoutContent {
        width: 98%;
    }
    .box .details {
        width: 98%;
    }
}
@media (max-width: 800px) {
    .box .layoutContent {
        grid-template-columns: 1fr;
        row-gap: 30px;
    }
    .box .layoutContent .productDetail {
        height: auto;
        row-gap: 20px;
    }
}