.container {
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.title>p {
    font-size: 15px;
    font-weight: 600;
}
.boxFilter {
    height: auto;
    overflow: hidden;
    margin-top: 10px;
}