.viewInput {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.inputField:focus {
    appearance: none;
    border: 1px solid rgba(8, 8, 8, 0.701);
    /* Màu viền khi input được focus */
    /* box-shadow: 0 0 5px rgba(63, 63, 63, 0.5); */
    /* Hiệu ứng bóng khi input được focus */
}

.inputField:focus~.labelField,
.inputField:not(:placeholder-shown)~.labelField {
    animation: slide 0.3s forwards;
}

.inputField:focus+.labelField,
.inputField:not(:placeholder-shown)+.labelField {
    top: 0;
    left: 10px;
    font-size: 10px;
    color: #000000;
    padding-left: 5px;
    padding-right: 5px;
}

@keyframes slide {
    0% {
        transform: translateY(-50%) translateX(0);
    }
    
    50% {
        transform: translateY(-50%) translateX(2.4px);
    }

    100% {
        transform: translateY(-50%) translateX(-1.2px);
    }
}

.inputField {
    border: 1px solid rgba(159, 159, 159, 0.423);
    border-radius: 3px;
    font-size: 16px;
    padding: 11.5px;
    outline: none;
}

.labelField {
    font-size: 13px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(61, 55, 55, 0.399);
    left: 18px;
    transition: 0.3s;
    pointer-events: none;
    cursor: text;
    background-color: white;
}
.viewInput .viewErr {
    position: absolute;
    right: 0;
    top: -50%;
    color: red;
    display: flex;
    align-items: center;
    column-gap: 5px;
    animation: translateToTop 0.3s ease-in-out;
}
@keyframes translateToTop {
    from {
        transform: translateY(50%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}