.container {
    display: block;
    width: 100%;
    height: 100vh;
}

button {
    cursor: pointer;
}
.layoutContent {
    height: inherit;
}
.box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
    position: relative;
}

.box .title {
    width: 75%;
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 400;
    column-gap: 10px;
}
.boxAccess {
    width: 75%;
    display: grid;
    grid-template-columns: 25% 72.5%;
    column-gap: 2.5%; 
}
.boxUser.show {
    transform: translateX(-6%);
}
.boxUser {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(221, 220, 220, 0.5);
    height: max-content;
    background-color: white;
    z-index: 2;
    position: relative;
    transition: transform 0.3s ease-in-out;
}
.boxInfUser {
    display: flex;
    /* Hai cột với chiều rộng bằng nhau */
    column-gap: 15px;
    /* Khoảng cách giữa các phần tử */
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid rgba(221, 220, 220, 0.5);
}
.viewHello {
    display: flex;
    align-items: center;
    column-gap: 7px;
    font-size: 13px;
}
.boxUser .item3 {
    font-size: 15px;
    font-weight: 600;
}
.boxUser .item1 {
    display: flex;
    align-items: center;
    
}
.boxUser .item1>img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}
.btnSidebar {
    display: none;
    cursor: pointer;
    border-radius: 50%;
    padding: 5px;
    box-sizing: unset;
}
.btnSidebarClose {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 23px;
    border-radius: 50%;
    padding: 5px;
    box-sizing: unset;
    cursor: pointer;
    display: none;
}
.btnSidebarClose:hover {
    background-color: rgba(191, 191, 191, 0.164);
} 
.btnSidebar:hover {
    background-color: rgba(191, 191, 191, 0.164);
} 
@media (max-width: 1200px) {
    .boxAccess {
        width: 96%;
    }
    .box .title {
        width: 96%;
    }
}
@media (max-width: 850px) {
    .boxAccess {
        grid-template-columns: 1fr;
    }
    .btnSidebar {
        display: block;
    }
    .btnSidebarClose {
        display: block;
    }
    .boxUser {
        position: absolute;
        transform: translateX(-106%);
        top: -220px;
        width: 270px;
        z-index: 101;
        height: 100vh;

    }
}
