.container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.container>button {
    width: 220px;
    background-color: black;
    border: none;
    color: white;
    font-size: 13px;
    padding: 13px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    column-gap: 7px;
    justify-content: center;
}