.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(177, 175, 175, 0.345);
    z-index: 800;
    user-select: none;
}
@keyframes scale {
    from {
        transform: scale(0.6);
        opacity: 0.5;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
.body {
    width: 70%;
    height: 400px;
    background: #ffffff;
    padding-bottom: 10px;
    column-gap: 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.579);
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    animation: scale 0.3s forwards;
    padding: 20px;
    row-gap: 20px;
}


.body>button {
    width: 100%;
    padding: 8px;
    background-color: black;
    border: none;
    color: white;
    border-radius: 3px;
    margin-top: auto;
    font-size: 16px;
}

.body>button:hover {
    opacity: 0.8;
}
@media (max-width: 1000px) {
    .body {
        width: 90%;
    }
}