.container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.subCategoryView {
    display: block;
}
.viewSubCategory {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.viewSubCategory>div input {
    margin-right: 10px;
    cursor: pointer;
}
.container>div>input[type="checkbox"]:checked {
    background-color: black;
}
.container>div label {
    font-size: 14.5px;
}

.boxLabel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.iconView {
    display: flex;
    align-items: center;
}
.viewCategory {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

