.container {
    position: fixed;
    background-color: #00000028;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 800;
    display: flex;
    user-select: none;
    justify-content: center;
    align-items: center;
}

.container>form {
    width: 500px;
    background-color: white;
    padding: 25px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.579);
    border-radius: 5px;
    animation: fadeInScaleUp 0.5s forwards;
}
@keyframes fadeInScaleUp {
    from {
      opacity: 0.6;
      transform: scale(0.7);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
.viewInput {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.inputField--focus {
    appearance: none;
    border: 1px solid rgba(8, 8, 8, 0.701);
    /* Màu viền khi input được focus */
    /* box-shadow: 0 0 5px rgba(63, 63, 63, 0.5); */
    /* Hiệu ứng bóng khi input được focus */
}

/* .inputField:focus~.labelField,
.inputField:not(:placeholder-shown)~.labelField {
    animation: slide 0.3s forwards;
}

.inputField:focus+.labelField,
.inputField:not(:placeholder-shown)+.labelField {
    
} */

.inputField {
    border: 1px solid rgba(159, 159, 159, 0.423);
    border-radius: 5px;
    font-size: 17px;
    padding: 12px;
    outline: none;
}

.labelField {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 11.5px;
    color: #000000;
    padding-left: 5px;
    padding-right: 5px;
    transform: translateY(-50%);
    background-color: white;
}

/* .labelField {
    font-size: 13px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s;
    color: rgba(61, 55, 55, 0.399);
    left: 18px;
    pointer-events: none;
    cursor: text;
    background-color: white;
} */

.boxInput {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.viewDefault {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.viewForm1 {
    display: grid;
    grid-template-columns: 66% 30%;
    column-gap: 4%;
}

.visaIconActive {
    color: #1434CB;
}
.visaIconInActive {
    color: #5c5c5c;
}

.masterCardView {
    display: flex;
    align-items: center;
}

.masterCardView>div {
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.masterCardView .masterCard1Active{
    background-color: #f91832;
}
.masterCardView .masterCard1InActive{
    background-color: rgba(58, 58, 58, 0.705);
}
.masterCardView .masterCard2Active{
    background: rgba(250, 117, 0, 0.663);
    margin-left: -6px;
}
.masterCardView .masterCard2InActive{
    background: rgba(92, 92, 92, 0.592);
    margin-left: -6px;
}

.viewCardDetails {
    font-size: 16;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.viewProtect {
    padding: 10px;
    border: 1px solid rgb(1, 160, 4);
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgba(195, 249, 196, 0.079);
    display: flex;
    column-gap: 10px;
    box-sizing: unset;
    border-radius: 5px;
}

.viewProtect .icon {
    color: rgb(1, 160, 4);
    margin-top: -11px;
}

.viewProtect>div>p:nth-child(1) {
    font-size: 14px;
}

.viewProtect>div>p:nth-child(2) {
    font-size: 12px;
}

.viewButton {
    display: flex;
    justify-content: right;
    column-gap: 7px;
}

.viewButton>button:nth-child(1) {
    background-color: rgba(13, 242, 219, 0.515);
    border: none;
    border-radius: 3px;
    width: 110px;
    padding: 10px;
    font-size: 16px;
    color: black;
}

.viewButton>button:nth-child(2) {
    background-color: black;
    border: none;
    border-radius: 3px;
    width: 135px;
    padding: 10px;
    font-size: 16px;
    color: rgb(214, 214, 214);
}