.container {
    display: block;
    width: 100%;
    background-color: rgb(251, 251, 251);
}
button {
    cursor: pointer;
}
.box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    user-select: none;
}

.box .title {
    width: 75%;
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 400;
    background-color: white;
}

.box .layoutContent {
    width: 75%;
    display: grid;
    position: relative;
    background-color: white;
}
.box .layoutContent .viewCartList {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.box .layoutContent .titleBar {
    display: grid;
    grid-template-columns: 2.75fr 1fr 1fr 1fr 0.25fr;
    margin-bottom: 15px;
}
.box .layoutContent .titleBar>div {
    display: flex;
    align-items: center;
    font-size: 15.5px;
}
.box .layoutContent .viewCartList>div {
    border-bottom: 1px solid rgba(195, 195, 195, 0.226);
}
.box .layoutContent .viewCartList>div:nth-child(1) {
    border-top: 1px solid rgba(195, 195, 195, 0.226);
}
.barCheckout {
    background-color: white;
    margin-top: -2px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1); /* Giảm độ mạnh và tăng sự mượt mà */
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    bottom: 0;
}
.boxBuy {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    padding: 10px;
}
.boxBuy>button {
    background-color: black;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    padding: 9px;
    width: 200px;
}
.viewNoneCart {
    display: flex;
    column-gap: 10px;
    margin-top: 80px;
    margin-bottom: 140px;
    justify-content: center;
    align-items: center;
}
.viewNoneCart>a {
    color: black;
    text-decoration: none;
}
.viewNoneCart>a:hover {
    color: cyan;
}

@media (max-width: 1200px) {
    .box .layoutContent {
        width: 98%;
    }
    .box .title {
        width: 98%;
    }
}
@media (max-width: 700px) {
    .box .layoutContent .titleBar>div {
        display: none;
    }
    .box .layoutContent .titleBar>div:nth-child(1) {
        display: flex;
    }
}


