.container {
    display: block;
    width: 100%;
    background-color: rgb(251, 251, 251);
}
button {
    cursor: pointer;
}
.box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    user-select: none;
}

.box .title {
    width: 75%;
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 400;
    background-color: white;
}

.box .layoutContent {
    width: 75%;
    display: grid;
    position: relative;
    background-color: white;
}
.layoutContent>table {
    border-collapse: collapse;
    width: 100%;
    user-select: none;
    table-layout: auto;
}

.layoutContent>table, th {
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
}
.layoutContent>table>thead>tr>th {
    text-align: start;
    height: 50px;
    font-weight: 400;
    font-size: 15px;
}
.barCheckout {
    background-color: white;
    margin-top: -2px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1); /* Giảm độ mạnh và tăng sự mượt mà */
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    bottom: 0;
}
.boxBuy {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    padding: 10px;
}
.boxBuy>button {
    background-color: black;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    padding: 9px;
    width: 200px;
}
.viewNoneCart {
    display: flex;
    column-gap: 10px;
    margin-top: 80px;
    margin-bottom: 140px;
    justify-content: center;
    align-items: center;
}
.viewNoneCart>a {
    color: black;
    text-decoration: none;
}
.viewNoneCart>a:hover {
    color: cyan;
}


