.container {
    background: linear-gradient(to bottom, #F3F3F3, #ebebeb);
    height: 320px;
    display: flex;
    justify-content: center;
    background: url('../../../assets/images/Untitled\ design.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f0f0f0;
}

.title {
    height: 40px;
    background: white;
    width: 83%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    border-radius: 10px;
}