.container {
    display: block;
    width: 100%;
}

.box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
    margin-top: 70px;
    min-width: 1100px;
}

.box .title {
    width: 75%;
    display: flex;
    align-items: center;
    font-size: 17px;
    column-gap: 5px;
}

.box .title .icon {
    font-size: 11px;
}

.box .layoutContent {
    width: 75%;
    display: grid;
    grid-template-columns: 20% 75%;
    column-gap: 5%;
    user-select: none;
}

.line {
    width: 100%;
    border-top: 0.002px solid grey;
    opacity: 0.1;
}

.box .layoutContent .boxProducts {
    display: block;
}

.box .layoutContent .boxProducts .viewProducts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}

.box .viewSearch {
    display: grid;
    width: 75%;
    grid-template-columns: 20% 75%;
    column-gap: 5%;
    margin-bottom: 15px;
    position: sticky;
    top: 70px;
}
.box .viewSearch .filterTitle {
    display: flex;
    align-items: center;
    font-size: 19px;
    font-weight: 550;
    column-gap: 5px;
}


.layoutContent .layoutShowing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    background-color: rgba(240, 240, 240, 0.338);
    padding: 10px;
    border-radius: 5px;
}
.layoutContent .layoutShowing .layoutShowing1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}
.layoutContent .layoutShowing .layoutShowing1 .viewDataSort{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}
.layoutContent .layoutShowing .layoutShowing1 .viewDataSort>div{
    padding: 6px 15px;
    border-radius: 3px;
    box-shadow: 0px 0px 4px rgba(168, 168, 168, 0.251);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, color 0.13s ease-in-out;
}
.sortIn {
    background-color: black;
    color: white;
}
.sortOut {
    background-color: white;
    color: black;
}
.layoutContent .layoutShowing>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.layoutContent .layoutShowing .layoutShowing1>div{
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.layoutContent .layoutShowing .layoutShowing1 .iconView .icon {
    font-size: 25px;
}

.layoutContent .layoutShowing .layoutShowing2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.layoutContent .layoutShowing .layoutShowing2 .icon {
    margin-left: 10px;
}

.boxFilter {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    position: sticky;
    top: 90px;
    height: max-content;
}

.boxFilter>button {
    background: black;
    color: white;
    width: 100%;
    padding: 8px;
    text-align: center;
    border-radius: 4px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.boxFilter>button:hover {
    transform: translate(0.2);
}

.boxSubCategory {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.boxSubCategory>p {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 7px;
}

@media (max-width: 1200px) {
    .box .title {
        width: 98%;
    }

    .box .viewSearch {
        width: 98%;
    }

    .box .layoutContent {
        width: 98%;
    }
}