.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(102, 102, 102, 0.174);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 30;
}
.body {
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 8px rgba(150, 150, 150, 0.271);
    width: 400px;
    height: 250px;
    text-align: center;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: translateIn 0.2s forwards;
    position: relative;
}
.body>p:nth-child(1) {
    margin-top: 20px;
    font-weight: 600;
    font-size: 21px;
}
.body>p:nth-child(2) {
    width: 250px;
    margin-top: 10px;
}
.body .circleCheck {
    font-size: 65px;
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    background-color: white;
    border-radius: 50px;
    animation: scaleOut 0.3s forwards;
    animation-delay: 0.2s;
    opacity: 0;
}
@keyframes scaleOut {
    0% {
        transform: scale(2.4) translateY(-50%);
        opacity: 0;
    }
    50% {
        transform: scale(2.4) translateY(-50%);
        opacity: 0;
    }
    100% {
        transform: scale(1) translateY(-50%);
        opacity: 1;
    }
}
@keyframes translateIn {
    from {
        transform: translateY(-150%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.body>button {
    margin-top: auto;
    background-color: black;
    color: white;
    padding: 8px;
    border-radius: 5px;
    border: none;
    font-size: 17px;
    width: 100%;
}

