.container {
    box-shadow: 0px 0px 4px rgba(118, 118, 118, 0.334);
    border-radius: 4px;
    padding: 10px;
    position: relative;
    background-color: white;
}
.viewDetails {
    position: absolute;
    top: 6px;
    right: 10px;
    font-size: 13px;
    text-align: right;
}
.buttonViewDetails {
    position: absolute;
    bottom: 8px;
    right: 8px;
    background-color: white;
    border: none;
    color: black;
    font-weight: 14px;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out, color 0.2s ease-in-out;
    padding: 6px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.buttonViewDetails:hover {
    background-color: black;
    color: white;
}
.viewContentOrder {
    font-size: 14px;
}
.viewContentOrder>p {
    display: flex;
    column-gap: 5px;
    align-items: center;
}
